<style>

<!--CSS style sheet-->

blank {}

a {
  color: white;
  target-name: new;
  target-new: tab;
}

body {
  background-image: url("https://source.unsplash.com/1920x1080/?forest, woods, mountains, waterfall");
//  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  color: white;
}

.bottom_gradient {
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  float: left;
  z-index: -1;
}

.quote {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 300px;
  text-align: left;
  font-family: 'Lobster', cursive;
}

.unsplash {
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 300px;
  text-align:right;
  font-family: 'Lobster', cursive;
}

.title {
  color: white;
//  font-family: 'Pacifico', cursive;
  font-family: 'Lobster', cursive;
  font-size: 64px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.parent {
  display: inline-block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 60%;
  background-color: rgba(242, 242, 242, 0.5);
}

.child {
  width: 100%;
  margin: auto;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.icon_tray {
  position: relative;
  margin: 15px;
  width: 60%;
}

.icon {
  width:50px;
//  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
}

.content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  width: 60%;
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.5);
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.search-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  opacity: 1;
}

.search-75 {
  float: left;
  width: 96%;
  margin-top: 6px;
  margin-bottom: 6px;
  opacity: 0.6;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .search-25, .search-75, input[type=submit] {
      width: 96%;
      margin-top: 0;
  }
}

</style>
